body {
    text-align: center;
    color: rgb(184, 22, 22);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
   background-color: silver;
}
p {
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#userscont { 
    margin:0 auto;
    background-color: white;
    width:864px;
    box-shadow:3px 5px 10px black;
}
.row {
    margin: 35px; 
    background-color: lightgrey;
    padding: 10px;
}